/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: Miama;
    src: url(./Miama.ttf);
}

body {
    font-family: "Inter", sans-serif;
    background-color: black;
}

/* share style  */
.display-flex {
    display: flex;
}

.hide {
    display: none;
}

.span {
    /* font-family: "Dancing Script", cursive; */
    font-family: Miama;
    font-weight: normal;
    font-size: 4.8rem;
}

.btn-primary {
    padding: 1rem 2.25rem;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-secondary {
    padding: 1rem 2.25rem;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: transparent;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    cursor: pointer;
}

/* main {
    max-width: 1126px;
    margin: 0rem auto;
    border: 2px solid red;
} */
.navbar,
.banner,
.change-your-habits,
.run-extra-mile,
.bmi-calculator-content {
    max-width: 1126px;
    margin: 0rem auto;
}

/* section heading */
.heading-text {
    width: 671px;
    margin: 0 auto;
    text-align: center;
}

.heading-text .title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    margin-bottom: 0.87rem;
}

.heading-text .sub-title {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.87rem;
    line-height: 1.5rem
}

/* header start here */

/* logo start here */
.header {
    background: linear-gradient(1800deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
}
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 3.5rem;
}

.brand {
    color: rgb(230, 83, 60);
    font-size: 2rem;
    font-weight: 700;
}

.nav-links .nav-item {
    margin-right: 30px;
}

.nav-links .nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-links .active {
    border-radius: 46px;
    padding: 8px 19px;
    background: rgb(230, 83, 60);
}

.menu-bar {
    display: none;
    color: rgb(255, 255, 255);
}

/* banner */
.banner {
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.banner-content {
    max-width: 520px;
}

.banner-content .banner-title {
    color: rgb(255, 255, 255);
    font-size: 78px;
    margin-bottom: 20px;
}

.banner-content .banner-description {
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 24px;
}

.banner-content .banner-image {
    width: 100%;
}

.images-content {
    position: relative;
}

.circel {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
}

.circel i {
    display: none;
}

.Video-tutorial {
    position: absolute;
    bottom: 63px;
    right: 256px;
    width: 205px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    justify-content: center;
    align-items: center;
    gap: 8px;

}

.Video-tutorial .video-info .video-count {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.Video-tutorial .video-info .video-notes {
    color: rgba(239, 237, 232, 0.65);
}

.workout-video {
    position: absolute;
    top: 135px;
    right: -10px;
    padding: 8px 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
}

.workout-video .video-total {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 900;
}

.workout-video .video-description {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
}

/* header end here */

/* changes your habits start here */
.change-your-habits {
    margin-top: 100px;
}
 .habits-container{
    margin-top:3.6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
 }
 .exerise-card{
    text-align: center;
}
 .exerise-card .exercise-image{
    border-radius: 50%;
    margin-bottom: 30px;
 }
 .exerise-card .habits-title{
    color: rgb(255, 255, 255);
    margin-bottom: 6px;
    font-size: 18px;
    
 }
 .exerise-card .habits-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
 }
/* changes your habits end here */

/* run-extra-mile style start here */
.run-extra-mile{
    margin-top: 100px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.run-extra-mile-container{
   justify-content: space-between;
   padding: 40px 45px;
}

.extra-mile-content{
    max-width: 450px;
}
.extra-mile-content .extra-mile-title{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.extra-mile-content .extra-mile-desription{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 34px;
}
.extra-mile-image img{
    width: 366px;
    height: 312px;
    border-radius: 18px;
}
.extra-mile-content .btn-primary{
    padding: 1rem 4rem;
}
/* run-extra-mile style end here */

/* Trainings and Exercises style start here */
.training{
margin-top: 100px;
}
.training .heading-text{
    text-align: left;
    margin: 0 0;
    margin-bottom: 58px;
} 
.training img{
    width: 100%;
    height: 230px;
    
}
.training .training-row{
    display: grid;
    grid-template-columns: .8fr 1.5fr .7fr;
    
}
 .training-row2{
    display: grid;
    grid-template-columns: 1.1fr .6fr .8fr;
    margin: 0 0;
 }

/* Trainings and Exercises style end here */

/* bmi calculator style here */
.bmi-calculator{
    margin-top: 100px;
}
.bmi-calculator .heading-text{
text-align: left; 
}
.bmi-calculator-container{
    width: 100%;
    background: rgb(34, 34, 34);
}
.bmi-calculator-content{
    margin-top: 88px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 45px;
}

.claculator-chart-table .chart-title{
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 50px;
}
/* table */
table{
    width: 310px;
    border-collapse: collapse;
}
th,td{
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 10px;
    text-align: left;
    color: rgba(255, 255, 255, 0.5);
}

.claculat-your-bmi .claculat-title{
    color: rgb(255, 255, 255);
    font-size:1.75rem;
    font-weight: 900;
    margin-bottom: 14px;
}
.claculat-your-bmi .claculat-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    margin-bottom: 2.1rem;
    line-height: 1.5rem;
}
/* form */
form{
    max-width: 577px;
}
form .input-box{
    width: 100%;
}
form .input-box input, select{
    width: 100%;
    padding: 1rem;
    margin: .5rem 0;
    border-radius: 8px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.6);
}
form .input-box input::placeholder{
    color: rgba(255, 255, 255, 0.6);
}

form .colum{
    gap: 10px;
}
 form .btn-primary{
    padding: 1rem 4rem;
    margin-top: 34px;
}


/*phone responsive design */
@media screen and (max-width:576px) {
    .navbar {
        margin-top: 3.25rem;
        padding: 0 1.25rem;
    }

    .nav-links {
        display: none;
    }

   .menu-bar {
        display: block;
    }

    /* banner */
    .banner {
        flex-direction: column;
        padding: 0 1.25rem;
    }

    .banner-content .banner-title {
        width: 285px;
        font-size: 2.25rem;
    }

    .banner-content .banner-description {
        width: 274px;
    }

    .btn-primary {
        padding: 1rem 1.75rem;
        margin-right: .2rem;
    }

    .btn-secondary {
        padding: 1rem 1.75rem;
    }

    .images-content .banner-image {
        width: 100%;
        margin-top: 48px;
    }

    .Video-tutorial {
        bottom: 250px;
        left: 10px;
        width: 170px;
        height: 75px;
    }

    .circel {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .circel i {
        display: block;
        color: rgb(250, 250, 249);

    }

    .Video-tutorial .video-info .video-count {
        font-size: 1.1rem;
        margin-bottom: 5px;
    }

    .Video-tutorial .video-info .video-notes {
        font-size: .8rem;
    }

    .workout-video {
        top: 100px;
        right: 10px;
        width: 146px;
        height: 74px;
    }

    .workout-video .video-total {
        font-size: 1.8rem;
        margin-bottom: 3px;
    }

    .workout-video .video-description {
        font-size: .6rem;
        letter-spacing: 1px;
    }

    /* change your habits  */
    .change-your-habits {
        margin-top: 20px;
    }
    .heading-text {
        max-width: 340px;
       text-align: center;
    }
    
    .heading-text .title {
       font-size: 2rem;
    }
   
    .habits-container{
        grid-template-columns: 1fr;
        margin: 0 20px;
        margin-top: 58px;
    }
    .exerise-card{
        max-width: 270px;
        margin: 0 auto;
    }
    
    /* run-extra-mile-container */
    .run-extra-mile{
        margin: 0 20px;
        margin-top: 80px;
    }
    .run-extra-mile-container{
        flex-direction: column;
        padding: 40px 33px;
    }
    .extra-mile-content .extra-mile-title{
      font-size: 2rem;
    }
    .extra-mile-content .btn-primary{
        width: 100%;
        margin-bottom: 30px;
    }
    .extra-mile-image img{
        width: 100%;
    }

    /* BMI claculation  */
    .bmi-calculator{
        margin-top: 60px;
    }
    .bmi-calculator .heading-text .title{
        font-size: 2rem;
    }
    .bmi-calculator-content{
      grid-template-columns: 1fr;
      margin-top: 32px;
      padding: 40px 20px;
    }
    .claculator-chart-table .chart-title{
        margin-bottom: 1.5rem;
         font-size: 1rem;  
    }
    .claculat-your-bmi .claculat-title{
        margin-top: 2.5rem;
        font-size: 1rem;
    }
}


/* medium tablet size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .navbar {
        margin-top: 3.25rem;
        padding: 0 1.25rem;
    }

    .banner {
        flex-direction: column;
        max-width: 600px;
    }

    .banner-content {
        margin-bottom: 100px;
    }
    .heading-text {
        max-width: 480px;
       text-align: center;
    }
    .habits-container{
        grid-template-columns: repeat(2, 1fr);
        width: 566px;
        margin: 0 auto;
        margin-top: 58px; 
    }
    .exerise-card{
        max-width: 270px;
        margin: 0 auto;
    }

    /* run extra mile container */
    .run-extra-mile{
        margin: 0 20px;
        margin-top: 80px;
    }
  
    .extra-mile-image img{
        width: 256px;
    }
    .extra-mile-content{
        width: 263px;
    }
    .extra-mile-content .extra-mile-title{
     font-size: 2.25rem;
    }
    
   
}